<div class="modal fade" id="modal-div-edit-lg">
	<form id="div-edit-form" autocomplete="off">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-gradient-warning">
					<h4 class="modal-title">Edit Entry</h4>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div id="edit-notif"></div>
							{% csrf_token %}
							<div class="form-group validate">
								<label for="code">ID</label>
								<input
									type="text"
									name="divId"
									id="id_divId"
									class="form-control"
									disabled
								/>
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="area">Campus</label>
								<select id="area" name="campId" class="form-control select2add">
									{% for campus in campusList %}
									<option value="{{ campus.campId }}">{{ campus.name }}</option>
									{% endfor %}
								</select>
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="name"> Name</label>
								<input
									type="text"
									name="name"
									id="id_name"
									class="form-control"
								/>
								<small class="text-red text-muted mySpan"></small>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
						<button
							type="submit"
							class="btn bg-gradient-warning btn-update"
							data-url="{% url 'saveUpdateDivParams' %}"
						>
							Update
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</form>
</div>
<!-- /.modal-dialog -->
