<div class="modal fade" id="modal-benef-lg">
	<form id="benef-add-form" autocomplete="off">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-gradient-success">
					<h4 class="modal-title">Add New Entry (Board Passer)</h4>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div id="add-notif"></div>
							{% csrf_token %}
							<div class="form-group validate">
								<label for="col-year"> Year</label>
								{{ form.year }}
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="benef"> No. of Beneficiaries</label>
								{{ form.noOfBenef }}
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="benef-rate">
									No. of beneficiaries who rate the training course/s</label
								>
								{{ form.noOfBenefRate }}
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="percentage"> Percentage</label>
								{{ form.percentage }}
								<small class="text-red text-muted mySpan"></small>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button
						type="submit"
						class="btn btn-success btn-save"
						data-url="{% url 'beneficiarySaveParams' %}"
					>
						Save
					</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</form>
</div>
<!-- /.modal-dialog -->
