{% extends 'base.html' %}
{% load static %}
 {% block body %} {% include 'includes/sidebar.html' %}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Strategic Template</h1>
							</div>
							<!-- /.col -->
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active">Strategic Template</li>
								</ol>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header custom-bg-gad-header">
                                    Create a Template
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bs-stepper" id="stepper">
                                                <div class="bs-stepper-header" role="tablist">
                                                  <!-- your steps here -->
                                                  <div class="step" data-target="#man-indicator-part">
                                                    <button type="button" class="step-trigger" role="tab" aria-controls="man-indicator-part" id="man-indicator-part-trigger">
                                                      <span class="bs-stepper-circle">1</span>
                                                      <span class="bs-stepper-label">Manage Indicator</span>
                                                    </button>
                                                  </div>
                                                  <div class="line"></div>
                                                  <div class="step" data-target="#information-part">
                                                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                                      <span class="bs-stepper-circle">2</span>
                                                      <span class="bs-stepper-label">Template Details</span>
                                                    </button>
                                                  </div>
                                                </div>
                                                <div class="bs-stepper-content">
                                                  <!-- your steps content here -->
                                                         <div id="man-indicator-part" class="content" role="tabpanel" aria-labelledby="man-indicato-part-trigger">
                                                            <div class="row">
                                                            
                                                                <div class="col-12">
                                                                    <div class="card">
                                                                        <div class="card-header bg-gad-header">
                                                                            Select Object
                                                                        </div>
                                                                        <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-6">
                                                                                <div class="form-group">
                                                                                    <select id ="area-select" name="areaId" class="form-control select2add" style="width: 100%;">
                                                                                        <option value="">Select an Area</option>
                                                                                        {% for area in areaList %}
                                                                                        <option value="{{ area.areaId }}">{{ area.name }}</option>
                                                                                        {% endfor %}
                                                                                
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <table id="obj-table" class="table table-bordered table-striped  dtr-inline" style="width:100%"></table>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <button id="copy-button" type="button" class="btn btn-primary">Copy</button>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="card">
                                                                        <div class="card-header bg-gad-header">
                                                                            Copied Items
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <table id="copy-obj-table" class="table table-bordered table-striped  dtr-inline" style="width:100%">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>ID</th>
                                                                                        <th>Indicator</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                </tbody>
                                                                            </table>
                                                                                
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>   
                                                            <button onclick="stepper.next()" id="copy-to-update" class="btn bg-gradient-primary" >Next</button>
                                                        </div>
                                                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"> 
                                                            <form id="template-form">
                                                                <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="card">
                                                                                <div class="card-header bg-gad-header">
                                                                                    Template Details
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <div class="form-group validate">
                                                                                        <label for="code">Template ID</label>
                                                                                        <input
                                                                                            type="text"
                                                                                            name="tempId"
                                                                                            id="id_tempId"
                                                                                            class="form-control"
                                                                                            
                                                                                        />
                                                                                       <small class="text-red text-muted mySpan"></small>
                                                                                    </div>
                                                                                    <div class="form-group validate">
                                                                                        <label for="code">Template Name</label>
                                                                                        {{ form.tempName }}
                                                                                        <small class="text-red text-muted mySpan"></small>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12">
                                                                            <div class="card">
                                                                                <div class="card-header bg-gad-header">
                                                                                    Update Reference and Target
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <table id="copy-table" class="table table-bordered table-striped  dtr-inline" style="width:100%">
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                            
                                                                <button onclick="prev()" class="btn bg-gradient-primary">Previous</button>
                                                                <button
                                                                        type="submit"
                                                                        class="btn btn-success btn-save"
                                                                        data-url="{% url 'saveTemplateParams' %}"
                                                                    >
                                                                    Save
                                                                </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                              <hr />
                                              <div>current step: <span id="current-step"></span></div>
                                        </div>
    
                                    </div>
                                

                                   
                                </div>
                            </div>
                    
                        
                        </div>
					</div>
					<!-- /.container-fluid -->
				</section>
			</div>
			<!-- /.content-wrapper -->
            {% include 'includes/footer.html' %}
			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->
  
    {% endblock %}
	{% block scripts %}
	<!-- <script src="{% static '/js/tablescript.js' %}" ></script> -->
	<script>

                var stepper = new Stepper(document.querySelector("#stepper"));
                setCurrent();
                function prev() {
                    stepper.previous();
                    setCurrent();
                }
                function setCurrent() {
                document.getElementById("current-step").innerText = stepper._currentIndex;
                }

                $("#stepper")[0].addEventListener('shown.bs-stepper', function (event) {
                console.log("hello " + event.detail.indexStep)
                });

           
                $(document).ready(function() {
                    var area;
                    $(".select2add").select2({
                        theme: "bootstrap4",
                    });

                  // Initialize DataTable
                    var compTable = $("#obj-table").DataTable({
                        ajax: "/objJsonList/",
                        rowId: "objId",
                        order: [0, "asc"],
                        columns: [
                            {
                                title: "<input type='checkbox' class='select-all' />", // Select all checkbox
                                data: null,
                                defaultContent: "<input type='checkbox' class='row-checkbox' />", // Row checkbox
                                orderable: false,
                                searchable: false,
                                width: "5%",
                            },
                        
                            { title:"ID",data: "objId",  width: "5%" ,visible: false},
                            { title: "Code", data: "code" },
                            { title: "Description", data: "description" },
                        ],
                        select: {
                            style: "os",
                            selector: "td:not(:first-child)",
                        },
                    });

                  // Initialize copy-obj-table
                    var selectedTable = $("#copy-obj-table").DataTable({
                        order: [[1, 'desc']],
                        columns: [
                            { title: "ID", data: "objId", width: "5%" },
                            { title: "Code", data: "code",  autoWidth: false},
                            { title: "Object", data: "description" },
                            { title: "Area", data: "area" },
                            {
                                title: "Action",
                                data: null,
                                defaultContent: '<button class="btn delete-obj btn-default "> <i class="fa fa-trash" aria-hidden="true"></i></button>',
                                targets: -1,
                                width: "15%",
                            },
                        ],
                    });

                     // Select all functionality for the header checkbox
                    $('#obj-table').on('click', '.select-all', function () {
                        var rows = compTable.rows({ 'search': 'applied' }).nodes();
                        $('input[type="checkbox"]', rows).prop('checked', this.checked);
                    });

                    $('#obj-table tbody').on('change', 'input[type="checkbox"]', function() {
                        if (!this.checked) {
                            var el = $('.select-all').get(0);
                            if (el && el.checked && ('indeterminate' in el)) {
                                el.indeterminate = true;
                            }
                        }
                    });

                    // Add copy button handler
                    $("#copy-button").on("click", function () {
                        var rows_selected = compTable.rows().nodes();
                        var selectedData = [];
                        var rowsToRemove = [];

                        var areaId = $('#area-select').val();
                        var areaName = $('#area-select option:selected').text();

                        $('input[type="checkbox"]:checked', rows_selected).each(function() {
                            var row = $(this).closest('tr');
                            var rowData = compTable.row(row).data();
                            
                            console.log(rowData)
                            var exist = false;
                            selectedTable.rows().every(function(){
                                var data = this.data();
                                if(data.objId === rowData.objId){
                                    exist = true;
                                    return false;    
                                }   
                                return true;
                            });

                            if(exist){
                                alert('Item already exists');
                            } else {
                                rowData.area = areaName;
                                selectedData.push(rowData);
                                rowsToRemove.push(row); 
                            }
                            
                            $('input[type="checkbox"]').prop('checked', false);
                        });
                         // Add selected data to the selectedTable
                         selectedTable.rows.add(selectedData).draw();

                        // Remove selected rows from the compTable
                        $(rowsToRemove).each(function() {
                            compTable.row(this).remove();
                        });
                        compTable.draw(); 
                    });
       
                         // Handle delete row functionality and add the row back to compTable
                    $('#copy-obj-table tbody').on('click', '.delete-obj', function() {
                        var row = $(this).closest('tr');
                        var rowData = selectedTable.row(row).data();
                        console.log(rowData)
                        compTable.row.add(rowData).draw();
                        selectedTable.row(row).remove().draw();
                    });
            });



   </script>
	{% endblock %}