{% extends 'base.html' %}
{% load static %}
 {% block body %} {% include 'includes/sidebar.html' %}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Strategic Template</h1>
							</div>
							<!-- /.col -->
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active">Strategic Template</li>
								</ol>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header custom-bg-gad-header">
                                    Create a Template
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bs-stepper" id="stepper">
                                                <div class="bs-stepper-header" role="tablist">
                                                  <!-- your steps here -->
                                                  <div class="step" data-target="#man-indicator-part">
                                                    <button type="button" class="step-trigger" role="tab" aria-controls="man-indicator-part" id="man-indicator-part-trigger">
                                                      <span class="bs-stepper-circle">1</span>
                                                      <span class="bs-stepper-label">Manage Indicator</span>
                                                    </button>
                                                  </div>
                                                  <div class="line"></div>
                                                  <div class="step" data-target="#information-part">
                                                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                                      <span class="bs-stepper-circle">2</span>
                                                      <span class="bs-stepper-label">Template Details</span>
                                                    </button>
                                                  </div>
                                                </div>
                                                <div class="bs-stepper-content">
                                                  <!-- your steps content here -->
                                                         <div id="man-indicator-part" class="content" role="tabpanel" aria-labelledby="man-indicato-part-trigger">
                                                            <div class="row">
                                                            
                                                                <div class="col-12">
                                                                    <div class="card">
                                                                        <div class="card-header bg-gad-header">
                                                                            Select Indicator
                                                                        </div>
                                                                        <div class="card-body">
                                                                        <div class="row">
                                                                            <div class="col-6">
                                                                                <div class="form-group">
                                                                                    <select id ="area-select" name="areaId" class="form-control select2add" style="width: 100%;">
                                                                                        <option value="">Select an Area</option>
                                                                                        {% for area in areaList %}
                                                                                        <option value="{{ area.areaId }}">{{ area.name }}</option>
                                                                                        {% endfor %}
                                                                                
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <div class="form-group">
                                                                                    <select id="comp-select" name="areaId"  class="form-control select2add" style="width: 100%;">
                                                                                        <option value="">Select a Component</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <table id="ind-table" class="table table-bordered table-striped  dtr-inline" style="width:100%"></table>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                <button id="add-to-selected" class="btn float-end bg-gradient-navy">Add Selected Items</button>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="card">
                                                                        <div class="card-header bg-gad-header">
                                                                            Copied Items
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <table id="selected-table" class="table table-bordered table-striped  dtr-inline" style="width:100%">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>ID</th>
                                                                                        <th>Indicator</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                </tbody>
                                                                            </table>
                                                                                
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>   
                                                            <button onclick="stepper.next()" id="copy-to-update" class="btn bg-gradient-primary" >Next</button>
                                                        </div>
                                                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"> 
                                                          <div class="row">
                                                            <div class="col-12">
                                                                <div class="card">
                                                                    <div class="card-header bg-gad-header">
                                                                        Template Details
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="form-group validate">
                                                                            <label for="code">Template ID</label>
                                                                            <input
                                                                                type="text"
                                                                                name="tempId"
                                                                                id="id_tempId"
                                                                                class="form-control"
                                                                                disabled
                                                                            />
                                                                            <small class="text-red text-muted mySpan"></small>
                                                                        </div>
                                                                        <div class="form-group validate">
                                                                            <label for="code">Template Name</label>
                                                                            {{ form.tempName }}
                                                                            <small class="text-red text-muted mySpan"></small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12">
                                                                <div class="card">
                                                                    <div class="card-header bg-gad-header">
                                                                        Update Reference and Target
                                                                    </div>
                                                                    <div class="card-body">
                                                                         <table id="ind-update" class="table table-bordered table-striped  dtr-inline" style="width:100%">
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                          </div>
                                                          
                                                        <button onclick="prev()" class="btn bg-gradient-primary">Previous</button>
                                                        </div>
                                                </div>
                                              </div>
                                              <hr />
                                              <div>current step: <span id="current-step"></span></div>
                                        </div>
    
                                    </div>
                                

                                   
                                </div>
                            </div>
                    
                        
                        </div>
					</div>
					<!-- /.container-fluid -->
				</section>
			</div>
			<!-- /.content-wrapper -->
            {% include 'includes/footer.html' %}
			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->
  
    {% endblock %}
	{% block scripts %}
	<!-- <script src="{% static '/js/tablescript.js' %}" ></script> -->
	<script>

                var stepper = new Stepper(document.querySelector("#stepper"));
                setCurrent();
                function prev() {
                    stepper.previous();
                    setCurrent();
                }
                function setCurrent() {
                document.getElementById("current-step").innerText = stepper._currentIndex;
                }

                $("#stepper")[0].addEventListener('shown.bs-stepper', function (event) {
                console.log("hello " + event.detail.indexStep)
                });

                $(document).ready(function() {
                var area;
                $(".select2add").select2({
                    theme: "bootstrap4",
                });

                // Initialize DataTable
                    var compTable = $("#ind-table").DataTable({
                        "bPaginate": false, 
                        "bFilter": false, 
                        "bInfo": false, 
                        lengthChange: false,
                        columns: [
                            {
                                title: "<input type='checkbox' class='select-all'/>",
                                data: null,
                                defaultContent: "<input type='checkbox' class='select-checkbox'/>",
                                orderable: false,
                                width: "1%"
                            },
                            { title: "ID", data: "objId", width: "5%", visible: false },
                            { title: "Indicator", data: "description" },
                        ],
                        select: {
                            style: "os",
                            selector: "td:not(:first-child)",
                        },
                        pageLength: 15,
                    });

                    var selectedTable = $("#selected-table").DataTable({
                        order: [[1, 'desc']],
                        columns: [
                            { title: "ID", data: "indId", width: "5%" },
                            { title: "Indicator", data: "description" },
                            { title: "Object", data: "obj" },
                            { title: "Area", data: "area" },
                            {
                                title: "Action",
                                data: null,
                                defaultContent: '<button class="btn delete-area btn-default "> <i class="fa fa-trash" aria-hidden="true"></i></button>',
                                targets: -1,
                                width: "15%",
                            },
                        ],
                    });

                    // Initialize ind-update DataTable
                    var updateTable = $("#ind-update").DataTable({
                        order: [[0, 'asc']],
                        columns: [
                           
                            { title: "ID", data: "indId",  autoWidth: false},
                            { title: "Indicator", data: "description"},
                            { title: "Object", data: "obj",width:  '20px' },
                            { title: "Area", data: "area",width:  '20px' },
                            {
                                title: "Reference",
                                data: null,
                                defaultContent: '<input type="text" class="form-control reference-input" />',
                                orderable: false,
                                width: '20px'
                            },
                            {
                                title: "Target",
                                data: null,
                                defaultContent: '<input type="text" class="form-control target-input" />',
                                orderable: false,
                                width: '20px'
                            }
                        ],
                    });

                    $('#area-select').change(function() {
                        var areaId = $(this).val();
                        console.log($(this).val())
                        $.ajax({
                            url: '/objJsonList/',
                            data: {
                                'areaId': areaId  
                            },
                            dataType: 'json',  
                            success: function(response) {
                                var $compSelect = $('#comp-select');
                                $compSelect.empty(); 
                                $compSelect.append($('<option>', { value: '', text: 'Select a Component' }));  // Add default option
                                var data = response.data;
                                if (Array.isArray(data)) {
                                    var filteredData = data.filter(function(item) {
                                        return item.areaId == areaId;
                                    });

                                    $.each(filteredData, function(index, component) {
                                        console.log('Component:', component);  
                                        if (component && component.objId && component.description) {
                                            $compSelect.append($('<option>', {
                                                value: component.objId,
                                                text: component.description
                                            }));
                                        
                                            area = component.area
                                        } else {
                                            console.error('Invalid component structure:', component);
                                        }
                                    });
                                } else {
                                    console.error('Data is not an array:', data);
                                }
                            },
                            error: function(xhr, status, error) {
                                console.error('AJAX Error:', status, error);  // Handle AJAX errors
                            }
                        });
                    });

                    $('#comp-select').change(function() {
                        var objId = $(this).val();
                        console.log(objId);
                        $.ajax({
                            url: '/indJsonList/',
                            data: {
                                'objId': objId
                            },
                            dataType: 'json',
                            success: function(response) {
                                var data = response.data;
                                if (Array.isArray(data)) {
                                    var filteredData = data.filter(function(item) {
                                        return item.objId == objId;
                                    });

                                    // Get the IDs of items already in the selectedTable
                                    var existingIds = [];
                                    selectedTable.rows().every(function() {
                                        var data = this.data();
                                        existingIds.push(data.indId);
                                    });

                                    // Filter out items that are already in the selectedTable
                                    filteredData = filteredData.filter(function(item) {
                                        return !existingIds.includes(item.indId);
                                    });

                                    compTable.clear();
                                    compTable.rows.add(filteredData).draw();
                                } else {
                                    console.error('Data is not an array:', data);
                                }
                            },
                            error: function(xhr, status, error) {
                                console.error('AJAX Error:', status, error);
                            }
                        });
                    });

                    // Handle select all checkbox functionality
                    $('#ind-table').on('click', '.select-all', function() {
                        var rows = compTable.rows({ 'search': 'applied' }).nodes();
                        $('input[type="checkbox"]', rows).prop('checked', this.checked);
                    });

                    $('#ind-table tbody').on('change', 'input[type="checkbox"]', function() {
                        if (!this.checked) {
                            var el = $('.select-all').get(0);
                            if (el && el.checked && ('indeterminate' in el)) {
                                el.indeterminate = true;
                            }
                        }
                    });

                    $('#add-to-selected').click(function() {
                        var rows_selected = compTable.rows().nodes();
                        var selectedData = [];
                        var rowsToRemove = [];

                        $('input[type="checkbox"]:checked', rows_selected).each(function() {
                            var row = $(this).closest('tr');
                            var rowData = compTable.row(row).data();
                            rowData.area = area;
                            
                            var exist = false;
                            selectedTable.rows().every(function(){
                                var data = this.data();
                                if(data.indId === rowData.indId){
                                    exist = true;
                                    return false;    
                                }   
                                return true;
                            });

                            if(exist){
                                alert('Item already exists');
                            } else {
                                selectedData.push(rowData);
                                rowsToRemove.push(row); 
                            }
                            
                            $('input[type="checkbox"]').prop('checked', false);
                        });

                        // Add selected data to the selectedTable
                        selectedTable.rows.add(selectedData).draw();
                        console.log(selectedData)

                        // Remove selected rows from the compTable
                        $(rowsToRemove).each(function() {
                            compTable.row(this).remove();
                        });
                        compTable.draw(); 
                    });

                    // Handle delete row functionality and add the row back to compTable
                    $('#selected-table tbody').on('click', '.delete-area', function() {
                        var row = $(this).closest('tr');
                        var rowData = selectedTable.row(row).data();
                        compTable.row.add(rowData).draw();
                        selectedTable.row(row).remove().draw();
                    });

                    // Copy selected data from selectedTable to updateTable
                    $('#copy-to-update').click(function() {
                        var selectedData = [];
                        selectedTable.rows().every(function() {
                            var data = this.data();
                            selectedData.push({
                                indId: data.indId,
                                description: data.description,
                                obj: data.obj,
                                area: data.area
                            });
                        });
                        updateTable.clear();
                        updateTable.rows.add(selectedData).draw();
                    });
                });



   </script>
	{% endblock %}